Kendall Outlaw's Module 4 Project

Task 1. Create DataFrame

In [48]:
#Follow the instructions in 7.14.2 to import pandas as pd and create a pandas DataFrame from a dictionary (a set of key-value pairs) holding multiple exam scores for each key/student. In this example, we have 5 students, each with 3 exam scores, but the scores aren't labeled.  
import pandas as pd
grades_dict = {'Wally': [87, 96, 70], 'Eva': [100, 87, 90],
              'Sam': [94, 77, 90], 'Katie': [100, 81, 82],
              'Bob': [83, 65, 85]}

grades = pd.DataFrame(grades_dict)

print(grades)

   Wally  Eva  Sam  Katie  Bob
0     87  100   94    100   83
1     96   87   77     81   65
2     70   90   90     82   85

Task 2. Create Custom Index

In [47]:
import pandas as pd
grades_dict = {'Wally': [87, 96, 70], 'Eva': [100, 87, 90],
              'Sam': [94, 77, 90], 'Katie': [100, 81, 82],
              'Bob': [83, 65, 85]}

print("Custom Index")
grades = pd.DataFrame(grades_dict)

#Follow the instructions to apply a custom index (instead of 0,1,2), let's call them 'Test1', Test2', and 'Test3'. See 'Customizing a DataFrame's Indices with the index Attribute subsection. 
grades.index = ['Test1', 'Test2', 'Test3']
print(grades)
print()


#As we did in Part 1, we can request grades by key using the text attribute (square brackets with single quoted text strings). Find Eva's grades with grades['Eva'] 
print("Grades for Eva")
print(grades['Eva'])



#If no spaces in the key, we can use the simpler dot attribute approach. Find Sam's grades with grades.Sam as shown in 'Accessing a DataFrame's columns' subsection. 
print()
print("Grades for Sam")
print(grades.Sam)

Custom Index
       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     82   85

Grades for Eva
Test1    100
Test2     87
Test3     90
Name: Eva, dtype: int64

Grades for Sam
Test1    94
Test2    77
Test3    90
Name: Sam, dtype: int64

Task 3. Accessing Rows (loc, iloc)

In [21]:
#Execute the examples using loc['Test1'] to get scores for the first exam, or iLoc[0] to get scores for the first exam and iLoc[1] to get scores for the second exam. Which do you prefer? 
import pandas as pd
grades_dict = {'Wally': [87, 96, 70], 'Eva': [100, 87, 90],
              'Sam': [94, 77, 90], 'Katie': [100, 81, 82],
              'Bob': [83, 65, 85]}

print("Getting Scores for the First Exam Example 1")
grades = pd.DataFrame(grades_dict)

grades.index = ['Test1', 'Test2', 'Test3']

print()
print(grades.iloc[0])

print()

print("Getting Scores for the First Exam Example 2")
print(grades.loc['Test1'])

print()
print("I prefer Example 2 because I am specifying the Column Name")

print()


#We can also get slices of rows, e.g., from ['Test1':'Test3'], inclusive, or, using index values, from [0:2], inclusive.
print("Getting Slices of Rows")
print(grades.loc['Test1':'Test2', ['Wally', 'Sam']])

Getting Scores for the First Exam Example 1

Wally     87
Eva      100
Sam       94
Katie    100
Bob       83
Name: Test1, dtype: int64

Getting Scores for the First Exam Example 2
Wally     87
Eva      100
Sam       94
Katie    100
Bob       83
Name: Test1, dtype: int64

I prefer Example 2 because I am specifying the Column Name

Getting Slices of Rows
       Wally  Sam
Test1     87   94
Test2     96   77

Task 3. Accessing Subsets (at, iat)

In [43]:
import pandas as pd
grades_dict = {'Wally': [87, 96, 70], 'Eva': [100, 87, 90],
              'Sam': [94, 77, 90], 'Katie': [100, 81, 82],
              'Bob': [83, 65, 85]}

grades = pd.DataFrame(grades_dict)

grades.index = ['Test1', 'Test2', 'Test3']

#Use grades.at['Test2', 'Eva'} to find her score on the second exam using labels.
print("Eva's Second Exam Score")
print(grades.at['Test2', 'Eva'])


print()
#Use grades.iat[2,0] to get the score on the third exam for the first student (Wally), using indices. 
print("Getting the Score on the Third Exam for the First Student")
print(grades.iat[2, 0])

Eva's Second Exam Score
87

Getting the Score on the Third Exam for the First Student
70

Task 4. Describe (By Column)

In [32]:
import pandas as pd
grades_dict = {'Wally': [87, 96, 70], 'Eva': [100, 87, 90],
              'Sam': [94, 77, 90], 'Katie': [100, 81, 82],
              'Bob': [83, 65, 85]}


grades = pd.DataFrame(grades_dict)

grades.index = ['Test1', 'Test2', 'Test3']

#Use grades.describe() to get descriptive statistics for our gradebook columns.
print("Descriptive Statistics for Gradebook Columns")
print(grades.describe())

print()


#Try to set the precision using the pd.set_option('precision',2) provided.
print("Set the precision")
pd.set_option('precision', 2)

print(grades.describe())

Descriptive Statistics for Gradebook Columns
       Wally     Eva    Sam   Katie    Bob
count   3.00    3.00   3.00    3.00   3.00
mean   84.33   92.33  87.00   87.67  77.67
std    13.20    6.81   8.89   10.69  11.02
min    70.00   87.00  77.00   81.00  65.00
25%    78.50   88.50  83.50   81.50  74.00
50%    87.00   90.00  90.00   82.00  83.00
75%    91.50   95.00  92.00   91.00  84.00
max    96.00  100.00  94.00  100.00  85.00

Set the precision
       Wally     Eva    Sam   Katie    Bob
count   3.00    3.00   3.00    3.00   3.00
mean   84.33   92.33  87.00   87.67  77.67
std    13.20    6.81   8.89   10.69  11.02
min    70.00   87.00  77.00   81.00  65.00
25%    78.50   88.50  83.50   81.50  74.00
50%    87.00   90.00  90.00   82.00  83.00
75%    91.50   95.00  92.00   91.00  84.00
max    96.00  100.00  94.00  100.00  85.00

Task 5. Transpose (rows <--> columns)

In [36]:
import pandas as pd
grades_dict = {'Wally': [87, 96, 70], 'Eva': [100, 87, 90],
              'Sam': [94, 77, 90], 'Katie': [100, 81, 82],
              'Bob': [83, 65, 85]}

grades = pd.DataFrame(grades_dict)

grades.index = ['Test1', 'Test2', 'Test3']

#Get the average for each column by calling grades.mean()
print("Get the average for each column")
print(grades.mean())

print()
#Transpose the DataFrame using the T attribute.
print("Transpose the DataFrame using the T attribute")
print(grades.T)

print()
#Get the mean by the new columns with .T.describe()
print("Get the mean by the new columns with .T.describe()")
print(grades.T.describe())

Get the average for each column
Wally    84.33
Eva      92.33
Sam      87.00
Katie    87.67
Bob      77.67
dtype: float64

Transpose the DataFrame using the T attribute
       Test1  Test2  Test3
Wally     87     96     70
Eva      100     87     90
Sam       94     77     90
Katie    100     81     82
Bob       83     65     85

Get the mean by the new columns with .T.describe()
        Test1  Test2  Test3
count    5.00   5.00   5.00
mean    92.80  81.20  83.40
std      7.66  11.54   8.23
min     83.00  65.00  70.00
25%     87.00  77.00  82.00
50%     94.00  81.00  85.00
75%    100.00  87.00  90.00
max    100.00  96.00  90.00

Task 6. Sort

In [39]:
import pandas as pd
grades_dict = {'Wally': [87, 96, 70], 'Eva': [100, 87, 90],
              'Sam': [94, 77, 90], 'Katie': [100, 81, 82],
              'Bob': [83, 65, 85]}

grades = pd.DataFrame(grades_dict)

grades.index = ['Test1', 'Test2', 'Test3']

#Sort the gradebook rows in reverse order so the most recent exam row appears at the top with grades.sort_index(ascending=False)
print("Sort the gradebook rows in reverse order")
print(grades.sort_index(ascending=False))

print()

#Sort the gradebook columns so the names appear in order using grades.sort_index(axis=1).
print("Sort the gradebook columns so the names appear in order using grades.sort_index(axis=1).")
print(grades.sort_index(axis=1))

Sort the gradebook rows in reverse order
       Wally  Eva  Sam  Katie  Bob
Test3     70   90   90     82   85
Test2     96   87   77     81   65
Test1     87  100   94    100   83

Sort the gradebook columns so the names appear in order using grades.sort_index(axis=1).
       Bob  Eva  Katie  Sam  Wally
Test1   83  100    100   94     87
Test2   65   87     81   77     96
Test3   85   90     82   90     70